:root {

    --color-titulo: rgb(255, 255, 255); 
    --color-texto: rgb(142, 143, 142); 
    
    --fondo-titulo: rgb(97, 97, 97);
    --fondo-cuerpo: rgb(177, 177, 177);
    --fondo-formulario: rgb(211, 211, 209);
    --fondo-calendario: rgb(78, 78, 78);
}
.paginaCheckin{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60vh; 
}
    .conteinerCheckin{
        background-color: var(--fondo-cuerpo);
        max-width: 120vh;
        max-height: 50vh;
        padding: 6px;
        border-radius: 6px;
        box-sizing: border-box;
    }
        .conteinerTitulo {
            background-color: var(--fondo-titulo);
            color: var(--color-titulo);
            display: block;
            width: 100%;
            text-align: center;
            align-content: center;
            border-radius: 4px;
        }
            .titulo {
                color: var(--color-dato);
            }
            
        .conteinerCuerpo{
            display: block;
        }
            .conteinerFormulario{
                background-color: white;
                display: flex;
                justify-content:safe;
                margin-bottom: 5px;
            }
                form input{
                    color: var(--color-texto);
                    border: none;
                    background: transparent;
                    outline: none;
                    font: inherit;
                    padding: 0;
                }
        button{
            background-color: var(--fondo-formulario);
            text-align: center;
            font-size: x-large;
            width: 100%;
            border: none;
            color: var(--color-dato);
            cursor: pointer;
            border-radius: 4px;
        }