.galeria {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 12px;
    padding-bottom: 25px;
}
.titulo{
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.miniatura {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: transform .2s ease-in-out;
}

.miniatura:hover {
    transform: scale(1.05);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    inset: 0;
    background: rgba(0,0,0,0.8);
    justify-content: center;
    align-items: center;
}

.modal-contenido {
    max-width: 85%;
    max-height: 85%;
    border-radius: 10px;
}

.cerrar {
    position: fixed;
    top: 20px;
    right: 30px;
    font-size: 40px;
    color: white;
    cursor: pointer;
    font-weight: bold;
}

.cerrar:hover {
    color: #ccc;
}

.flecha {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    font-size: 45px;
    color: white;
    cursor: pointer;
    padding: 10px;
    user-select: none;
    font-weight: bold;
    transition: .2s ease-in-out;
}

.flecha:hover {
    color: #ddd;
}

.flecha.izquierda { 
    left: 25px; 
}
.flecha.derecha { right: 25px; }