/* seccion de estilos para la reserva */
body {
    margin: 0px;
    padding: 0px;
    border: 0px;
}


.pagina-reserva {
    background-color: #d1cbcb;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
.conteiner-datos {
    background-color: #f51b1b;
    display: block;
    align-content: center;
    width: 860px;
    height: 400px;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
    
    .conteiner-datos-titulo {
        background-color: #474141;
        color: white;
        height: auto;
        margin: 0px;
        padding: 0px;
        text-align: center;
    }
        .conteiner-datos-titulo > h2 {
                margin: 0px;
                padding: 0px;
                border: 0px;
        }

    .conteiner-datos-cuerpo {
        background-color: rgb(216, 130, 119);
        display: flex;
        height: 100%;
        margin: 0px;
        padding: 2px;
        border: 0px
        
    }

        .datos-right, .datos-center, .datos-left {
        background-color: #818181;
        color: rgb(0, 0, 0);
        width: auto;
        margin: 0px;
        padding: 10px;
        align-content: center;
        }

          .titulo-form {
              color: whitesmoke;
              padding: 0px;
              width: 100%;
              height: 30px;
              text-align: center;
          }

          .cuerpo-form {
              background-color: #fafaff;
              height: auto;
              padding: 20px;
              text-align: center;
          }

          .conteiner-form {
              background-color: #b95656;
              margin: 4px 0px;
              padding: 10px;
              display: flex;
              justify-content: space-around;
          }
              .descripcion {
              
              }
              .formulario {
               
              }

              form,
              form input,
              form textarea,
              select{
                font: inherit;
                background-color: inherit;
                text-align: center;
                width: 100%;
                border: none;
              }

        .datos-center-superior, .datos-center-medio, .datos-center-inferior {
            height: auto;
            margin: 0px 10px 0px 10px;
            padding: 0px; 
        }









