/* Estilo de la pagina web */

ul {
  list-style-type: none;
  padding-left: 0;
}

ul li {
  padding: 0.5rem 0;
  border-bottom: 1px solid #eee;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #003366;
  color: white;
  margin-top: 2rem;
}

a {
  color: #ffcc00;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}