{% extends "base.html" %}

{% block title %}Check-in P3{% endblock %}

{% block content %}
<section class="pagina-check-in">
    <div class="conteiner">
        <span>NOMBRE DE LA ESTANCIA</span>
        <span>completar el formulario de check-in con los datos requeridos</span>

        <form action="{{ url_for('checkinP3') }}" method="post" enctype="multipart/form-data">
            <span>FIRMA DEL TITULAR</span><br>
            <span>imagen de la firma</span><br>

            <label for="fotoFirma">Cargar foto:</label>
            <input type="file" name="fotoFirma" id="fotoFirma" required accept="image/*"><br>

            <button type="submit">Subir</button><br>
        </form>
    </div>
</section>
{% endblock %}