{% extends "base.html" %}

{% block title %}Check-in P2{% endblock %}

{% block content %}
<section class="pagina-check-in">

    <div class="conteiner">
        <span>NOMBRE DE LA ESTANCIA</span>
        <span>completar el formulario de check-in con los datos requeridos</span>
        <form action="" method="get">
            <label for="">Nacionalidad
                <input type="text" id="nacionalidad" name="" required>
            </label><br>
            
            <span>FOTO DE LA PARTE FRONTAL DEL DOCUMENTO</span><br>
            <button type="button">Cargar Foto</button><br>
            <button type="button">Tomar Foto</button><br>

            <span>FOTO DE LA PARTE TRACERA DEL DOCUMENTO</span><br>
            <button type="button">Cargar Foto</button><br>
            <button type="button">Tomar Foto</button><br>

            <a href="{{url_for('checkinP3')}}">siguiente</a>

        </form>
    </div>
</section>
{% endblock %}
