{% extends "base.html" %}

{% block title %}Check-in P2{% endblock %}

{% block content %}
<section class="pagina-check-in">

    <div class="conteiner">
        <span>NOMBRE DE LA ESTANCIA</span>
        <span>completar el formulario de check-in con los datos requeridos</span>
        <form action="{{ url_for('checkinP2') }}" method="post" enctype="multipart/form-data">
            <label for="dniPasaporte">DNI</label>
            <input id="dniPasaporte" type="text" name="dniPasaporte" value="{{ checkinP2[0].documento }}" required><br>

            <span>FOTO DE LA PARTE FRONTAL DEL DOCUMENTO</span><br>
            <label for="fotoFrontal">Cargar foto:</label>
            <input type="file" name="fotoFrontal" id="fotoFrontal" required accept="image/*"><br>

            <span>FOTO DE LA PARTE TRACERA DEL DOCUMENTO</span><br>
            <label for="fotoTracera">Cargar foto:</label>
            <input type="file" name="fotoTracera" id="fotoTracera" required accept="image/*"><br>

            <button type="submit">Subir</button><br>
        </form>
    </div>
</section>
{% endblock %}
