<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"> 
    <title>Error 404</title>
</head>
<body>
    <h1>Error404</h1>
    <div id="error-image">
        <img src="{{ url_for(static, filename='images/Error.png')}}" alt="Imagen de Errorhandler">
    </div>
    <h2>
        La página que intentas solicitar no está en el servidor
    </h2>
    <p>Prueba mejor suerte en estos links:</p>
    <div id="links-errorhandle">
        <ul>
            <li><a href="{{ url_for('index')}}">Inicio</a></li>
            <li><a href="{{ url_for('Habitaciones')}}">Habitaciones</a></li>
            <li><a href="{{ url_for('InformacióndeHoteles')}}">Información del Hotel</a></li>
            <li><a href="{{ url_for('Ofertas')}}">Ofertas</a></li>
            <li><a href="{{ url_for('Galería')}}">Galería</a></li>
            <li><a href="{{ url_for('Ubicación')}}">Ubicación</a></li>
            <li><a href="{{ url_for('Restaurante')}}">Restaurante</a></li>
            <li><a href="{{ url_for('Eventos')}}">Eventos</a></li>
        </li>
    </div>
</body>
</html>