{% extends "base.html" %}

{% block title %}Galería{% endblock %}

{% block content %}

<section class="galeria-encabezado">
    <h2 class="titulo">Galería de Imágenes</h2>
    <p class="subtitulo">
        Descubre cada rincón de nuestras instalaciones a través de una selección de fotografías cuidadosamente capturadas.
    </p>
</section>

<section class="galeria-carrusel">
    <div class="swiper galeria-swiper">
        <div class="swiper-wrapper" id="galeria-swiper-wrapper">
            <!-- esta es la posicion de las imagenes -->
        </div>

        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-pagination"></div>
    </div>
</section>

<div class="separador-galeria"></div>

<div id="modal" class="modal">
    <span id="cerrar" class="cerrar">&times;</span>
    <span id="flecha-izq" class="flecha izquierda">&#10094;</span>
    <span id="flecha-der" class="flecha derecha">&#10095;</span>

    <img id="modal-img" class="modal-contenido" alt="Vista ampliada">
</div>

<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script>const BACKEND_URL = "{{ backend_url }}";</script>
<script src="{{ url_for('static', filename='js/galeria.js') }}"></script>

{% endblock %}
