{% extends "base.html" %}

{% block title %}Galeria de fotos{% endblock %}

{% block content %}

<div class="contenedor-galeria">
    <div class="imagenes">
        <img src="{{url_for('static', filename='images/Fachada.png') }}" alt="">
        <img src="{{url_for('static', filename='images/Baño 1.jpg') }}" alt="">
        <img src="{{url_for('static', filename='images/Baño 2.jpg') }}" alt="">
        <img src="{{url_for('static', filename='images/Dormitorio 1.jpg') }}" alt="">
        <img src="{{url_for('static', filename='images/Dormitorio 2.jpg') }}" alt="">
        <img src="{{url_for('static', filename='images/Patio.jpg') }}" alt="">
        <img src="{{url_for('static', filename='images/living 1.jpg') }}" alt="">
        <img src="{{url_for('static', filename='images/living 2.jpg') }}" alt="">
        <img src="{{url_for('static', filename='images/barra.jpg') }}" alt="">
        <img src="{{url_for('static', filename='images/Parrilla.jpg') }}" alt="">
        <img src="{{url_for('static', filename='images/Pileta.webp') }}" alt="">
        <img src="{{url_for('static', filename='images/cancha de tenis.jpg') }}" alt="">

    </div>
</div>

{% endblock %}


