{% extends "base.html" %}

{% block title %}Galería{% endblock %}

{% block content %}

<h2>Galería de imágenes</h2>

<div class="galeria">
    {% for imagen in imagenes %}
        <img src="{{ url_for('static', filename='images/' ~ imagen) }}" 
             class="miniatura" alt="Foto" data-index="{{ loop.index0 }}">
    {% endfor %}
</div>

<!-- Modal -->
<div id="modal" class="modal">
    <span id="cerrar" class="cerrar">&times;</span>
    <span id="flecha-izq" class="flecha izquierda">&#10094;</span>
    <span id="flecha-der" class="flecha derecha">&#10095;</span>

    <img id="modal-img" class="modal-contenido">
</div>

<script src="{{ url_for('static', filename='js/galeria.js') }}"></script>

{% endblock %}