{% extends "base.html" %}

{% block title %}Inicio{% endblock %}

{% block content %}

<main class="main">

  <section id="hotel-hero" class="hotel-hero section">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row gy-4 align-items-center">

        <div class="col-lg-6" data-aos="fade-right" data-aos-delay="200">
          <div class="hero-content">
            <h1>{{ titulo_index }}</h1>
            <p class="lead">{{ descripcion_index }}</p>
            <div class="hero-features">
              <div class="feature-item"><i class="bi bi-wifi"></i><span>WiFi</span></div>
              <div class="feature-item"><i class="bi bi-car-front"></i><span>Parking</span></div>
              <div class="feature-item"><i class="bi bi-cup-hot"></i><span>24/7 al servicio</span></div>
            </div>
            <div class="hero-buttons">
              {% if session.get('nombreUsuario') %}
                <a href="{{ url_for('cuenta.miCuenta') }}" class="btn btn-secondary">Mi Cuenta</a>
                <a href="{{ url_for('cuenta.cerrarSesion') }}" class="btn btn-outline">Cerrar sesión</a>
              {% else %}
                <a href="{{ url_for('ingreso.ingreso') }}" class="btn btn-primary">Login</a>
              {% endif %}
              <a href="{{ url_for('galeria') }}" class="btn btn-outline">Habitaciones</a>
            </div>
          </div>
        </div>

        <div class="col-lg-6" data-aos="fade-left" data-aos-delay="300">
          <div class="swiper hero-swiper">
            <div class="swiper-wrapper">

            </div>
            <div class="swiper-button-prev hero-button-prev"></div>
            <div class="swiper-button-next hero-button-next"></div>
            <div class="swiper-pagination hero-pagination"></div>
          </div>

          <div class="floating-card" data-aos="zoom-in" data-aos-delay="400">
              <!-- aca -->
          </div>
        </div>

      </div>

      <div class="hero-stats" data-aos="fade-up">
        <div class="row text-center">
          
          <div class="col-md-3 col-6">
            <div class="stat-item">
              <span id="num-habitaciones" class="stat-number">0</span>
              <span class="stat-label">Habitaciones</span>
            </div>
          </div>

          <div class="col-md-3 col-6">
              <div class="stat-item">
                  <span id="num-habitaciones-disponibles" class="stat-number">0</span>
                  <span class="stat-label">Habitaciones disponibles Hoy</span>
              </div>
          </div>

          <div class="col-md-3 col-6">
            <div class="stat-item">
              <span class="stat-number purecounter" data-purecounter-start="0" data-purecounter-end="24">24</span>
              <span class="stat-label">Horas de Servicio</span>
            </div>
          </div>

          <div class="col-md-3 col-6">
            <div class="stat-item">
              <span id="num-personas" class="stat-number">0</span>
              <span class="stat-label">Personas <Slot></Slot>Satisfechas</span>
            </div>
          </div>

        </div>
      </div>

    </div>
  </section>

  <section id="amenities-cards" class="amenities-cards section">
    <div class="container section-title" data-aos="fade-up">
      <span class="description-title">Habitaciones</span>
      <h2>Habitaciones</h2>
    </div>

    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row g-5">
        {% for habitacion in range(1,9) %}
        <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="{{ 100 + habitacion*50 }}">
          <div class="facility-card">
            <div class="facility-image">
              <img id="habitacion-{{ habitacion }}" src="" alt="Habitación {{ habitacion }}" class="img-fluid room-static-image">
            </div>
            <div class="facility-info">
              <h4>Habitación {{ habitacion }}</h4>
              <div class="price-tag">Cargando...</div>
              <div class="basic-amenities">
                <i class="bi bi-wifi"></i>
                <i class="bi bi-tv"></i>
                <i class="bi bi-telephone"></i>
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section id="amenities-cards" class="amenities-cards section">
    <div class="container section-title" data-aos="fade-up">
      <span class="description-title">Amenities</span>
      <h2>Servicios</h2>
      <p>En nuestro hotel vas a poder disfrutar de los diversos servicios que ofrecemos </p>
    </div>

    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="row g-5">
        {% for servicio in range(1,7) %}
        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="{{ 100 + servicio*50 }}">
          <div class="facility-card">
            <div class="facility-image">
              <img id="amenity-{{ servicio }}" src="" alt="Amenity {{ servicio }}" class="img-fluid">
            </div>
            <div class="facility-info">
              <h4>Servicio {{ servicio }}</h4>
              <p>Descripción del servicio {{ servicio }}.</p>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <section id="testimonials" class="testimonials section light-background">
    <div class="container section-title" data-aos="fade-up">
      <span class="description-title">Reseñas</span>
      <h2>Reseñas</h2>
    </div>

    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <div class="testimonials-wrapper">
        <div class="row g-4">
          {% for testimonio in range(1,5) %}
          <div class="col-lg-6" data-aos="fade-up" data-aos-delay="{{ 150 + testimonio*50 }}">
            <div class="testimonial-card">
              <div class="testimonial-content">
                <p>Testimonio {{ testimonio }}</p>
              </div>
              <div class="testimonial-author">
                <img id="person-{{ testimonio }}" src="" alt="Client {{ testimonio }}" class="img-fluid rounded-circle">
                <div class="author-info"><h4>Cliente {{ testimonio }}</h4></div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>

</main>

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
<script> const BACKEND_URL = "{{ backend_url }}"; </script>

<!-- <script>
  let backendUrl;
  
  if (window.location.hostname === "localhost" || window.location.hostname === "127.0.0.1") {
      backendUrl = "http://127.0.0.1:5002";
  } else {
      backendUrl = "http://backend_container:5001";
  }
  
  const BACKEND_URL = backendUrl;
  console.log("Usando BACKEND_URL:", BACKEND_URL);
  </script> -->
<script src="{{ url_for('static', filename='js/index.js') }}"></script>

{% endblock %}