{% extends "base.html" %}

{% block title %}Inicio prueba{% endblock %}

{% block content %}

  <header>
    <h1>Hilton Buenos Aires</h1>
    <p>Ubicado en Puerto Madero, Buenos Aires, Argentina</p>
  </header>
  <section>
    <h2>Información General</h2>
    <p>Dirección: Av Macacha Güemes 351, C1106BKG, Buenos Aires</p>
    <p>Teléfono: +54 11 4891-0000</p>
    <p>Email: reservations.buenosaires@hilton.com</p>
    <p>Check-in: 15:00 h | Check-out: 12:00 h</p>
  </section>
  <section>
    <h2>Servicios Destacados</h2>
    <ul>
      <li>Habitaciones para no fumadores</li>
      <li>Conserjería</li>
      <li>Carga para vehículos eléctricos</li>
      <li>Lounge ejecutivo</li>
      <li>Restaurante en el hotel</li>
      <li>Piscina al aire libre</li>
      <li>Gimnasio</li>
      <li>Habitaciones pet-friendly</li>
      <li>Servicio a la habitación</li>
      <li>Salas de reuniones</li>
    </ul>
  </section>
  <section>
    <h2>Restaurantes</h2>
    <ul>
      <li><strong>Alberto’s Lobby Bar:</strong> Cocina argentina e internacional con esculturas de Edgardo Madanes.</li>
      <li><strong>El Faro:</strong> Restaurante con bodega de vinos, ofrece desayuno, almuerzo y cena.</li>
    </ul>
  </section>
  <section>
    <h2>Hilton Honors</h2>
    <ul>
      <li>Tarifas especiales</li>
      <li>Puntos para noches gratis</li>
      <li>Check-in digital</li>
      <li>Llave digital</li>
    </ul>
  </section>
  <section>
    <h2>Atracciones Cercanas</h2>
    <ul>
      <li>Puerto Madero – 0 km</li>
      <li>Centro de la ciudad – 1 km</li>
      <li>Plaza de Mayo – 1 km</li>
      <li>Obelisco – 1.6 km</li>
      <li>San Telmo – 2 km</li>
      <li>Recoleta – 4 km</li>
    </ul>
  </section>
  <section>
    <h2>Reservas</h2>
    <p>¿Listo para tu estadía en Hilton Buenos Aires?</p>
    <a href="{{ url_for('reserva')}}">
      <button>Hacer una Reserva</button>
    </a>
  </section>
{% endblock %}
