{% extends "base.html" %}

{% block title %}Ingreso{% endblock %}

{% block content %}

<div class="ingreso-contenedor">
  <form class="ingreso-formulario" method="POST" action="{{ url_for('ingreso') }}">
    <label for="usuario">Usuario:</label>
    <input type="text" id="usuario" name="usuario" required>

    <label for="contraseña">Contraseña:</label>
    <input type="password" id="contraseña" name="contraseña" required>

    <button type="submit">Ingresar</button>
    <a href="{{ url_for('registro') }}" class="boton-registrarme">Registrarme</a>
  </form>
</div>


{% if get_flashed_messages() %}
  <div class="mensajes">
    {{ get_flashed_messages()[0] }}
  </div>
{% endif %}


{% endblock %}