{% extends "base.html" %}

{% block title %}Registro{% endblock %}

{% block content %}

<section class="login-section d-flex align-items-center justify-content-center">
    <div class="login-card shadow-lg p-4 rounded-4">

        <h2 class="text-center mb-4 fw-bold">Crear Cuenta</h2>

        <p class="text-center text-muted mb-4">
            Completá el formulario con tus datos para registrarte
        </p>

        <form class="registro-form" method="POST" action="{{ url_for('registro.registro') }}">

            <div class="form-group mb-3">
                <label for="nombre" class="form-label">Nombre</label>
                <input type="text" id="nombre" name="nombre" class="form-control" required>
            </div>

            <div class="form-group mb-3">
                <label for="apellido" class="form-label">Apellido</label>
                <input type="text" id="apellido" name="apellido" class="form-control" required>
            </div>

            <div class="form-group mb-3">
                <label for="email" class="form-label">Correo electrónico</label>
                <input type="email" id="email" name="email" class="form-control" required>
            </div>
            
            <div class="form-group mb-3">
                <label for="nombre" class="form-label">Telefono</label>
                <input type="tel" id="nombre" name="telefono" class="form-control" required>
            </div>

            <div class="form-group mb-3">
                <label for="nombre" class="form-label">D.N.I/Pasaporte</label>
                <input type="tel" id="nombre" name="dniPasaporte" class="form-control" required>
            </div>

            <div class="form-group mb-3">
                <label for="nombreUsuario" class="form-label">Nombre de usuario</label>
                <input type="text" id="nombreUsuario" name="nombreUsuario" class="form-control" required>
            </div>

            <div class="form-group mb-4">
                <label for="contrasenia" class="form-label">Contraseña</label>
                <input type="password" id="contrasenia" name="contrasenia" class="form-control" required>
            </div>

            <button type="submit" class="btn btn-success w-100 mb-3">Registrarme</button>

            <div class="text-center">
                ¿Ya tenés una cuenta?
                <a href="{{ url_for('ingreso.ingreso') }}" class="fw-semibold">Iniciar sesión</a>
            </div>
        </form>

    </div>
</section>

{% endblock %}