<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Estancia Bruno Relax and Flask</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <section id="reserva" class="main style2 special">
        <div class="conteiner-datos">
            <div class="conteiner-datos-header">
                <p>Datos del Huésped Principal</p>
            </div>
            <div class="conteiner-datos-body">
                <form action="" action="" method="post">
                    <div class="datos-right">
                        <label for="firstname">Nombre del Titular:</label>
                        <input type="text" id="firstname" name="nombre_huesped" placeholder="Nombre" required>
                    </div>   
                    <div class="datos-center">
                        <label for="lastname">Apellido del Titular:</label>
                        <input type="text" id="lastname" name="apellido_huesped" placeholder="Apellido" required>
                    </div>
                    <div class="datos-left">
                        <label for="doc_id">D.N.I o Pasaporte:</label>
                        <input type="text" id="doc_id" name="documento_huesped" placeholder="D.N.I o Pasaporte" pattern="[0-9]+" inputmode="numeric" oninvalid="this.setCustomValidity('Por favor ingrese solo números en el DNI o Pasaporte')"oninput="this.setCustomValidity('')"required>
                        <input type="email" id="email" name="email_huesped" placeholder="Email" required>
                        <label for="email">Email de Confirmación:</label>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <section class="pagina-reserva">
        <div class="conteiner-datos">
            <div class="conteiner-datos-titulo">
                <h2>Reservas</h2>
            </div>
            <div class="conteiner-datos-cuerpo">
                <div class="datos-right">
                    <div class="titulo-form">
                        <label for="">Seleccionar fechas</label>
                    </div>
                    <div class="cuerpo-form">
                        <p>Calendario</p>
                        <label for="">Fecha de Entrada:</label>
                        <input type="date" id="" name="" placeholder="AAAA-MM-DD" required>
                        <br>
                        <label for="checkout">Fecha de Salida:</label>
                        <input type="date" id="" name="" placeholder="AAAA-MM-DD" required>
                    </div>
                    <div class="conteiner-form">
                        <div class="descripcion"">
                            <label for="">Noches</label>
                        </div>
                        <div class="formulario">
                            <select id="room_type" name="">
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                                <option value="">5</option>
                                <option value="">6</option>
                                <option value="">7</option>
                                <option value="">8</option>
                                <option value="">9</option> 
                            </select>
                        </div>
                    </div>
                </div>
                <div class="datos-center">
                    <div class="datos-center-superior">
                        <div class="titulo-form">
                            <label for="">Seleccionar ocupación</label>
                        </div>
                        <div class="conteiner-form">

                            <div class="descripcion">
                                <label for="adults">Adultos:</label>
                            </div>
                            <div class="formulario">
                                <form action="">
                                    <input type="number" id="" name="" min="1" value="1"required>
                                </form>
                            </div>
                            <div class="descripcion">
                                <label for="adults">Niños:</label>
                            </div>
                            <div class="formulario">
                                <form action="">
                                    <input type="number" id="" name="" min="0" value="0">
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="datos-center-medio">
                        <div class="titulo-form">
                            <label for="">Tipo de Habitación</label>
                        </div>
                        <div class="conteiner-form">
                            <select id="" name="">
                                <option value="" disabled selected>Seleccione el tipo de habitación</option>
                                <option value="king">King Ejecutiva</option>
                                <option value="doble">Doble (2 Camas)</option>
                                <option value="suite">Suite</option>
                            </select>
                        </div>
                    </div>
                    <div class="datos-center-inferior">
                        <div class="titulo-form">
                            <label for="">Número de habitación</label>
                        </div>
                        <div class="conteiner-form">
                            <select id="" name="">
                                <option value="" disabled selected>Seleccione el número de habitación:</option>
                                <option value="">H001</option>
                                <option value="">H002</option>
                                <option value="">H003</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="datos-left">
                     <div class="titulo-form">
                        <label for="">Resumen de la reserva</label>
                    </div>
                    <div class="cuerpo-form">
                        <p>200.000 ARS</p>
                        <button type="submit">Confirmar Reserva</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

